<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://images.unsplash.com/photo-1650721872871-da0d8c4895a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" />
    <title>Resister yourself</title>
    <style>
        * {
            margin: 0;
            padding-left: 0cm;
            padding-right: 0cm;
            
            font-family: sans-serif;
            background-color: rgba(106, 102, 102, 0.089);
        }
        
        section {
            
            background: none;
            padding-top: 6%;
            padding-left: 10%;
           display: flex;
            width: 100%;
            height: 100%;
            text-align: center;
            background-size: cover;
            color: black;
            
        }
        
        section .divi {
            width: 35%;
            height: 35%;
            padding-left: 5%;
            font-size: 40px;
            padding-top: 2%;
            background: none;
            margin-right: 2cm;
            color: black;
            border-radius: 3cm;
            padding: none;
        }
        
        form {
            border: 1px solid black;
            margin-left: 10%;
            height: 70%;
            padding-top: 3%;
            padding-bottom: 3%;
            
            
            border-radius: 1cm;
            width: 30%;
            
        }
        
        .user,
        .mail,
        .pass {
            width: 70%;
            border: none;
            height: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 5px;
            color: black;
            margin-top: 20px;
            border-bottom: 1px solid grey;

        }
        
        .button {
            margin-top: 35px;
            width: 5cm;
            height: 35px;
            color: white;
            background-image: linear-gradient(to left, #ff0157, #990099, #00cccc);
            font-size: 16px;
            cursor: pointer;
            border-radius: 40px;
        }
        
        form h2 {
           width: auto;
           padding-bottom: 5%;
           padding-left: 7%;
            margin-left: 0%;
            font-size: 45px;
            color: #990099;
            background: none;
        }
        
        input {
            height: 0%;
            padding: 10px;
            border-radius: 1cm;
            text-align: center;
            background-color: white;
        }
        font{
            padding: 0;
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        
        nav {
            width: 100%;
            height: 75px;
            background-color: #505d61;
            line-height: 75px;
            padding: 0px 100px;
            position: fixed;
            z-index: 1;
        }
        
        nav .logo {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 1.5px;
        }
        
        nav .logo p {
            float: left;
            color: #fff;
            text-transform: uppercase;
        }
        
        nav ul {
            background: none;
            float: right;
        }
        
        nav ul li {
            display: inline-block;
            background: none;
            list-style: none;
        }
        
        nav ul li a {
            background: none;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;
            padding: 0px 32px;
        }
        
        nav ul li a:hover {
            color: #c0d96f;
        }
        
        nav ul li .active {
            color: #c0d96f;
        }
        
       
        
        
        
        
        
    </style>
    <script type="text/javascript">
        function validation() {
            var N, E, P, B, A, p,cp;
            N = document.getElementById('Name').value;
            E = document.getElementById('Email').value;
            P = document.getElementById('PhoneNumber').value;
            B = document.getElementById('BookingDate').value;
            A = document.getElementById('Aadhar').value;
            p = document.getElementById('password').value;
            cp = document.getElementById('cpassword').value;
            if (N == '' || E == '' || P == '' || B == '' || A == '' || p == '' || cp == '')
                alert("Please fill all the details for Registration ");
            else
                alert("Successfully Registered");



        }
    </script>

</head>
<script>
    function click(){
       return href="./about_us";
    }
</script>
<body>
    <nav>
        <div class="logo">
            <p>Hostel Hunt</p>
        </div>
        <ul>
            
            
            <li><a href="./contact.hbs">Contact US</a></li>
            <li><a href="./about_us.hbs">Our Team</a></li>
            <li><a href="./login.hbs">Login</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>
    

    <section>
        <div class="divi">
            <h1 style="color: orange;background: none;">W</h1>
            <h1 style="color: orange;background: none;">E</h1>
            <h1 style="color: white;background: none;">L</h1>
            <h1 style="color: white;background: none;">C</h1>
            <h1 style="color: white;background: none;">O</h1>
            <h1 style="color: green;background: none;">M</h1>
            <h1 style="color: green;background: none;">E</h1>
            <br>
            <h3 style="color: #990099;background: none;">HOSTEL HUNT</h3>
        </div>
        
         {{!-- <div style="border: 1px solid black;"> --}}
        
        <form action="/index.hbs" method="POST">
            <h2>Registration Form</h2>
            <input type="text" id="Name" placeholder="Full Name" class="user" name="username"><br>
            <input type="email" id="Email" placeholder="email" class="mail" name="email"><br>
            <input type="number" id="PhoneNumber" placeholder="Phone Number" class="user" min="10" name="phonenumber"><br>
            <input type="date" id="BookingDate" placeholder="Booking Date(DD/MM/YY)" class="pass" name="bookingdate"><br>
            <input type="number" id="Aadhar" placeholder="Aadhar Card" class="user" name="aadharcard"><br>
            
            <input type="password" id="password" placeholder="password" class="user"  name="password">
            <input type="password" id="cpassword" placeholder="confirm password" class="user"  name="confirmpassword"><br><br>
            
            <input type="submit" value="Register" class="button" onclick="validation();" name="register"><br>
            <br>
            <br>
            <div style="background: none;">
                <p style="background: none;">Already registered ?</p><a href="./login.hbs" style="background: none;">click here</a>
            </div>
            

        </form>
        
    </section>
    <br>
    <br>
    <br>

</body>

</html>